{% load static %}
<!DOCTYPE html>

<!-- Mathjax/LATEX support-->
<!-- Need to place this before loading?-->
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
</script>
<!-- Maybe don't need the next script:-->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [ ['$','$'] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
    });
</script>
<script type="text/javascript" src="{{mathjax_provider}}">
</script>
<!-- Mathjax/LATEX support, fix this to add $ as an inline. Maybe have to run a local mathjax server-->



<html>
<!-- When you pass in elements use {{var}} to dereference where var is the name of the key-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
<!-- Gives description, i.e what comes up under google's description for this website.-->
    <meta name="description" content="Personal website for Loris Jautakas">

    <title>{{website_title}}</title>
    <link rel="stylesheet" href="{% static 'css/homepage_style.css' %}"> 
</head>

<body>
    <div class="header">
        <h1> {{website_title }}</h1>
        <div class="buttons">
            <a class="selected" href="/">Home</a>
            <a href="/projects">Projects</a>
        </div>
    </div>
    <div class="content">
        <div class="sidebar">
            <img src="{% static 'images/loris.jpg' %}" >
            <a class="link" href="mailto:lorisj@umich.edu">lorisj@umich.edu</a>
        </div>
        <div class="main">
            <h2> About me:</h2>
            <div class="section">
                
                <p>Hi! I am a undergraduate student studying <b>computer science</b> and <b>math</b> at the University of Michigan. 
                    I am mostly interested in problems relating to algebraic structure. I am particularly interested in problems that arise in quantum information theory, but also in other fields including foundations (math), complexity theory, and machine learning. 
                    Below I have listed some of my relevant research and work experience. Check out my <a href="/projects">project page</a> for some of my public work.
                </p>
            </div>
            <h2>Research Experience:</h2> 
            <div class="section">
                  
                <h3>Quantum Information Theory (May 2022 - present)</h3>
                <p>I am currently working on research in quantum information theory with <a href="https://pradhan.engin.umich.edu/">Prof. S. Sandeep Pradhan.</a>
                     So far, we have developed a way to perform quantum source coding in polynomial time, and currently we are working on some problems in network quantum information theory.</p> 
                <h3>Reinforcement Learning (May 2023 - present)</h3>
                <p>I am currently working on research in reinforcement learning with <a href="https://web.eecs.umich.edu/~necmiye/">Prof. Necmiye Ozay</a> under the <a href="https://sure.engin.umich.edu/">SURE program</a>.
                     We are looking into different methods for state space abstractions and how they can be used in reinforcement learning.</p> 
            </div>
            <h2>Work Experience:</h2>
            <div class="section">
                <h3>Instructional assistant - <a href="https://www.eecs.umich.edu/courses/eecs498.001/">EECS 498:Quantum Programming</a> (Fall 2022)</h3>
                <p>I was a instructional assistant for EECS 498. I led a lab section with over 30 students, teaching them concepts in quantum computing, linear
                    algebra, and quantum error correction.
                </p>
                <h3>Grader - <a href="https://eecs.engin.umich.edu/wp-content/uploads/2021/11/EECS_598_Quantum.pdf">EECS 598:Quantum Information, Probability, and Computation</a> (Spring 2022)</a></h3>
                <p> I graded homeworks and answered questions on Piazza covering topics ranging from quantum error correction, probability, and algorithms.
                </p>
                <h3>Electrical Engineering Intern - <a href="https://rhelab.engin.umich.edu/">Radiological Health Engineering Lab</a> (Oct 2020 - May 2022)</h3>
                <p>I worked with <a href="https://ners.engin.umich.edu/people/kearfott-kimberlee/"> Prof. Kim Kearfott</a> on circuit design for a do-it-yourself smart geiger counter.
                I mostly worked on designing the power system, but also worked a bit on the signal processing and software design.</p>
            </div>
        </div>
    </div> 
    



            
            
    
       


</body>

</html>