{% load static %}
<!DOCTYPE html>

<!-- Mathjax/LATEX support-->
<!-- Need to place this before loading?-->
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
</script>
<!-- Maybe don't need the next script:-->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [ ['$','$'] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
    });
</script>
<script type="text/javascript" src="{{mathjax_provider}}">
</script>
<!-- Mathjax/LATEX support, fix this to add $ as an inline. Maybe have to run a local mathjax server-->



<html>
<!-- When you pass in elements use {{var}} to dereference where var is the name of the key-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
<!-- Gives description, i.e what comes up under google's description for this website.-->
    <meta name="description" content="Personal website for Loris Jautakas">

    <title>{{website_title}}</title>
    <link rel="stylesheet" href="{% static 'css/homepage_style.css' %}"> 
</head>

<body>
    <div class="header">
        <h1> {{website_title }}</h1>
        <div class="buttons">
            <a href="/">Home</a>
            <a class="selected" href="/projects">Projects</a>
        </div>
    </div>
    <div class="content">
        <div class="main">
            <h2>Projects page:</h2>
            <div class="section">
                
                <p>Below is a list of some of my current projects. If you have an interest or any thoughts for any of these please let me know.</p>
            </div>
            <div class="project">
                <div class="sidebar">
                    <img src="{% static 'images/notes.png' %}">
                    <a class="link" href="/notes">MNotes</a>
                </div>
                <div class="description">
                    <p> <b>MNotes</b> is a math wiki containing notes with formal proofs on math topics such as:</p>
                     <ul>
                        <li>Quantum information theory</li>
                        <li>Classical information theory</li>
                        <li>Model Theory</li>
                        <li>Computability Theory</li>
                    </ul> 
                    <p>Theorems, definitions and examples are catogorized in a graph database, so if a proof uses a definition/theorem/example, you can easily find all the context you need.
                    </p>
                </div>
            </div>
            
            <div class="project">
                <div class="sidebar">
                    <img src="{% static 'images/qccas.png' %}">
                    <a class="link" href="https://github.com/lorisj/QCCAS">QCCAS</a>
                </div>
                <div class="description">
                    <p> <b>QCCAS</b> is a highly flexible quantum circuit simulator written in python that uses density operators. Rather than using floating point arithmetic,
                        QCCAS uses a computer algebra system (sympy) to give exact outputs, and shows all possible outputs of a quantum circuit. It also allows for n-ary qudits, and other operations such as partial trace and purification.
                    </p>
                    
                </div>
            </div>
            
            <div class="project">
                <div class="sidebar">
                    <img src="{% static 'images/structured_coding.png'%}" >
                    <a class="link" href="https://github.com/lorisj/structured-coding/blob/main/draft_report.pdf">Structured Coding</a>
                </div>
                <div class="description">
                    <p><b>Structured coding</b> is a writeup of some ideas I had about generalizing the notion of a (algebraic) structured code using model theory/universal algebra. It also includes a summary of model theory in the appendix. </p>
                    <p>It is currently in the early stages, once I read up more on group codes and algebraic geometry I will give it some more thought.</p>
                </div>

            </div>
            
        
            
            
            
        
        </div>
    </div> 
    



            
            
    
       


</body>

</html>