img {
    width: 170px;
    border-radius: 40px;
    float: left;
    /*! margin-right: 30px; */
}

a.link {
    font-weight: bold;
    color:darkcyan;
    /*darkcyan*/
    
    /*! text-align: center; */
    /*! width: 100%; */
}

body{
    background-color: darkgrey;
    margin:0;
    font-family: BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
} 



p{
    font-size: large; 
    color: black;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 1em;
    width: calc(100% - 20em);
    margin: auto;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-left: 5em;
    align-items: baseline;
    /*! width: calc(100% - 20em); */
    padding-right: 5em;
    margin-left: 5em;
    margin-right: 5em;
}

.header h1 {
    display: inline;
}

.header .buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: 2em;
}


.header .buttons a {
    text-decoration: none;
    color: unset;
    background-color: transparent;
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 100%;
    border-top: transparent;
    border-bottom: transparent;
    border-right: transparent;
    border-left: 2px solid black;
}
.header .buttons a:hover {
    background-color: rosybrown;
}

.header .buttons a:first-child {
    border-left:transparent;
}

.header .buttons a.selected {
    /*background-color: yellow;*/
    font-weight: bold;
}

.sidebar {
    font-size: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2em;
}
.sidebar img {
  margin-bottom: 1em;
}
.sidebar a.link{
    font-size: 0.7em;
    margin-bottom: 1em;
    text-align: center;
}

.project {
  display: flex;
  flex-direction: row;
  border-top: 3px solid black;
  margin-top: 2em;
  margin-bottom: 1em;
}

.project .sidebar {
  font-size: 2em;
  margin-top: 1em;
}
.section{
    border:1px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}